:root{
    /* Colors */
    --primary-soft: hsl(47, 88%, 63%);
    --neutral-dark: hsl(0, 0%, 7%);
    --neutral-medium: hsl(0, 0%, 42%);
    --neutral-soft: hsl(0, 0%, 100%);

    /* Typography */
    --fonte-principal: 'Figtree', sans-serif;
}